@use 'styles' as *;

.progress-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.progress-bar-track {
  position: relative;
  flex: 1;
  height: 10px;
  background: $neutral-300;
  border-radius: 16px;
  overflow: hidden;
}

.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: inherit;
  transition: width 160ms ease-out;
}

.progress-bar-value {
  font-size: 0.8rem;
  font-weight: 500;
}
